.nav-items{
    display: flex;
    padding: 0 ,20px;

}
.header{
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
}
.logo{
    width: 150px;
    height: 150px;
}
.nav-items>ul{
    display:flex;
    font-size: 24px;
    
}
.nav-items>ul>li{
    list-style: none;
    margin: 0 10px;
    padding: 20px;
}
.res-card{
    
    margin: 5px;
    padding: 5px;
    width: 200px;
    background-color: #f0f0f0;

}
.Search{
    padding: 10px;
}

.res-Logo{
    width: 100%;
    height: 150px
}
.res-contain{
    display :flex;
    flex-wrap: wrap;
}
h3, h4, h5 {
  margin: 10px 0;   /* adjust as needed */
  line-height: 1.2;
}
.res-card:hover{
    border: solid black 1px;
    cursor: pointer;
}
